
.container
{
    display: grid;
    grid-template-rows: repeat(5,20fr);
    row-gap: 9px;
    grid-template-columns: 40fr 20fr 40fr;
    column-gap: 30px;
    border: 3px solid lightgray;
    height: 97vh;
    grid-area: 1/2/5/2;
}

.box
{
    background: rgba(58,63,68,0.5);;
    border: 2px dotted yellow;
}

.box1
{
    background : rgba(58,63,68,0.5);
    border: 4px dotted black;
}


